/* Main Section */

.main_section {
  margin-top: 4rem;
  background-color: var(--clr-Cream-White);
}
.main_section .container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Main image */
.main_section img {
  width: 50%;
}
.main_section img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}
/* About texts */
.main_section .about_texts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main_section .about_texts h1 {
  color: var(--clr-Deep-Plum);
  font-size: 3.5rem;
}
.main_section .about_texts p {
  font-size: 1.2rem;
}
/* End of Main Section */
