/*
============
Main content
============
*/

.main_content {
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: 70% 30%;
}

/* 
=========
Post area 
=========
*/

.single_post_area {
  padding: 1rem 2rem;
}

/* Post Photo */
main .post_pic {
  width: 100%;
}

/*
============
Post Content
============
*/

.main-title {
  color: var(--clr-Deep-Plum);
  font-size: 1.5rem;
}

.post-content {
  gap: 2rem;
  padding: 1rem;
}

.post_details {
  margin-top: 3.5rem;
  gap: 3rem;
}

.post_description {
  text-align: justify;
  line-height: 2rem;
}

/*
===================
End of Post Content
===================
*/

/* 
================
End of Post area 
================
*/

/*
===================
End of Main content
===================
*/

/*
==========
Widget bar
==========
*/

.widget-bar .post-details {
  margin-left: 1rem;
}

/*
=================
End of Widget bar
=================
*/

/*
================
Responsive Codes
================
*/

/* 992px */
@media screen and (max-width: 992px) {
  .post_details {
    gap: 2rem;
  }

  .main-title {
    font-size: 1.2rem;
  }

  .post_description {
    font-size: 0.9rem;
  }
}

/* 850px */

@media screen and (max-width: 850px) {
  /* Main content */
  .main_content {
    display: flex;
    flex-direction: column;
  }
}

/* 768px */

@media screen and (max-width: 768px) {
  .post-content {
    margin-bottom: 2rem;
  }
}


/* 650px */

@media screen and (max-width: 650px) {
  .main-title {
    font-size: 1rem;
  }

  .post_details {
    margin-top: 3rem;
  }
}


/* 576px */

@media screen and (max-width: 576px) {
  .main_content {
    padding: 3rem;
  }

  .post-content {
    flex-direction: column;
    gap: 0;
  }

  .post-content .post_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    column-gap: 12rem;
  }
}


/* 450px */

@media screen and (max-width: 450px) {
  .main_content {
    padding: 2rem 1rem;
  }
}
