/* Common styles */
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.column-flex {
  flex-direction: column;
}

/* Blog Title*/
.blog_title {
  background-color: var(--clr-Mauve-Mist);
  color: var(--clr-Deep-Plum);
  margin: 4rem auto;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}
/* End of Blog Title*/

/* Post area */

/* Single Post */

.single_post{
  gap: 3rem;
}

/* Icons */
.single_post .fa-regular {
  color: var(--clr-Warm-Taupe);
  font-size: 1.2rem;
}
/* Post info */

.post_info {
  gap: 1.2rem;
}

.single_post p {
  color: var(--clr-Deep-Plum);
}
.single_post a:hover i {
  color: var(--clr-Deep-Plum);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.single_post a:hover p {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
}

/* Styles for every flex item in Post info */
.post-info-item {
  gap: 0.5rem;
}

.post_categories {
  margin-bottom: 1rem;
  gap: 1rem;
}
.post_categories a,.post_categories a:visited{
  color: var(--clr-Deep-Plum);
}
/* End of Post info */

/* Post Content */

.post-content{
  gap: 1rem;
}
.post-content .post-image img{
  width: 40rem;
  height: 20rem;
}

/* Post title */
.post-content .post-title h3{
  color: var(--clr-Deep-Plum);
}
.post-content .post-title:hover h3{
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/* Post description */
.post_description p{
  color: var(--clr-black);
  line-height: 1.5rem;
}

/* View more */
.view_more{
  margin-top: 1rem;
}
.view_more a{
  padding: 0.7rem 2rem;
  background-color: var(--clr-Dusty-Pink);
  color: var(--clr-white);
  font-weight: 900;
}
.view_more a:hover{
  background-color: var(--clr-Mauve-Mist);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/* End of Post Content */

/* End of Post area */
