/*
============
Main content
============
*/

.main_content {
  padding: 5rem;
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 1rem;
}

/* 
=========
Post area 
=========
*/

.single_post_area {
  padding: 1rem 2rem;
}

/* Post Photo */
main .post_pic {
  width: 100%;
}

/*
============
Post Content
============
*/

.main-title {
  color: var(--clr-Deep-Plum);
  font-size: 1.5rem;
}

.post-content {
  gap: 2rem;
  padding: 1rem;
}

.post_details {
  margin-top: 3.5rem;
  gap: 3rem;
}

.post_description {
  text-align: justify;
  line-height: 2rem;
}

/*
===================
End of Post Content
===================
*/

/* 
================
End of Post area 
================
*/

/*
========
Comments
========
*/
.comments {
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  border: 1px solid var(--clr-Mauve-Mist);
  margin: 6rem 2rem 0 5rem;
}

/* comment title */

.comment_title {
  text-align: center;
  color: var(--clr-Deep-Plum);
}

.comments_form {
  display: grid;
  grid-template-areas:
    "name subject"
    "email email"
    "message message"
    "message message";
  column-gap: 1rem;
  row-gap: 2rem;
}

#name {
  grid-area: name;
}

#subject {
  grid-area: subject;
}

#email {
  grid-area: email;
}

/* Send Button */
#send {
  width: 40%;
  height: 2rem;
  background-color: var(--clr-Mauve-Mist);
  border: none;
  color: var(--clr-black);
  padding: 0.3rem 1rem;
  margin-left: 80%;
}

#send:hover {
  transform: scale(1.1);
  background-color: var(--clr-Dusty-Pink);
  color: var(--clr-white);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#message {
  grid-area: message;
  resize: none;
  padding: 1rem;
  border: 2px solid var(--clr-gray);
  outline: none;
  resize: none;
}

.comment_inputs {
  border: 2px solid var(--clr-gray);
  padding: 0.7rem 1rem;
  outline: none;
}

.comment_inputs:focus,
#message:focus {
  transition: var(--transition);
  border: 2px solid var(--clr-Dusty-Pink);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/*
===============
End of Comments
===============
*/

/*
===================
End of Main content
===================
*/

/*
==========
Widget bar
==========
*/

.widget-bar .post-details {
  margin-left: 1rem;
}

/*
=================
End of Widget bar
=================
*/

/*
================
Responsive Codes
================
*/

/* 1120px */

@media screen and (max-width: 1120px) {
  #send {
    width: 50%;
  }
}

/* 992px */
@media screen and (max-width: 992px) {
  .post_details {
    gap: 2rem;
  }

  .main-title {
    font-size: 1.2rem;
  }

  .post_description {
    font-size: 0.9rem;
  }

  .comment_inputs::placeholder,
  #message::placeholder {
    font-size: 0.7rem;
  }
}

/* 900px */
@media screen and (max-width: 900px) {
  .comments .comments_form {
    display: flex;
    flex-direction: column;
  }

  #send {
    margin-left: 30%;
    width: 40%;
  }
}

/* 850px */

@media screen and (max-width: 850px) {
  /* Main content */
  .main_content {
    display: flex;
    flex-direction: column;
  }

  /* Comments */
  .comments {
    margin: 4rem auto;
  }

  /* Widget bar */
  .widget-bar {
    order: 1;
  }
}

/* 768px */

@media screen and (max-width: 768px) {
  .post-content {
    margin-bottom: 2rem;
  }

  #send {
    width: 30%;
  }
}

/* 650px */

@media screen and (max-width: 650px) {
  .main-title {
    font-size: 1rem;
  }

  .post_details {
    margin-top: 3rem;
  }
}

/* 576px */

@media screen and (max-width: 576px) {
  .main_content {
    padding: 3rem;
  }

  .post-content {
    flex-direction: column;
    gap: 0;
  }

  .post-content .post_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    column-gap: 12rem;
  }
}

/* 450px */

@media screen and (max-width: 450px) {
  .main_content {
    padding: 2rem 1rem;
  }

  /* Comments */
  .comment_title {
    font-size: 0.9rem;
  }

  .comments .comments_form {
    gap: 1rem;
  }

  .comment_inputs {
    padding: 0.5rem 1rem;
  }

  #send {
    width: 40%;
  }
}
