/* Common styles */
.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}
.flex-end{
    justify-content: flex-end;
}
.column-flex{
    flex-direction: column;
}


/* Blog Title*/
.blog_title{
    background-color: var(--clr-Mauve-Mist);
    color: var(--clr-Deep-Plum);
    margin: 4rem auto;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}
/* End of Blog Title*/


/* Post area */

/* Icons */
.fa-regular{
    color: var(--clr-Warm-Taupe);
    font-size: 1.2rem;
}
/* Post info */

.post_info{
    gap: 1.2rem;
}

/* Styles for every flex item in Post info */
.post-info-item{
    gap: 1rem;
}

.post_categories{
    margin-bottom: 1rem;
}
/* End of Post info */


/* End of Post area */