/* 
==========
Blog Title
==========
*/

.blog_title {
  background-color: var(--clr-Mauve-Mist);
  color: var(--clr-Deep-Plum);
  margin: 4rem auto;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

/* 
=================
End of Blog Title
=================
*/

/*
============
Mani content
============
*/

.main_content {
  padding: 4rem;
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 1rem;
}

/* 
=========
Post area 
=========
*/

.posts_area {
  margin-right: 2rem;
}

/* 
===========
Single Post 
===========
*/

.single_post {
  gap: 3rem;
  margin-bottom: 7rem;
}

/* Icons */
.single_post .fa-regular {
  color: var(--clr-Warm-Taupe);
  font-size: 1.2rem;
}

.single_post p {
  color: var(--clr-Deep-Plum);
  font-size: 0.9rem;
}
.single_post a:hover i {
  color: var(--clr-Deep-Plum);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.single_post a:hover p {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
}

/* 
============
Post Content
============
*/

.post-content {
  gap: 1rem;
}

.post-content .post-image img {
  width: 100%;
  height: 20rem;
}

.single-latest-post {
  gap: 1rem;
  margin-bottom: 1.3rem;
}

/* 
==========
Post title 
==========
*/
.post-content .post-title h3 {
  color: var(--clr-Deep-Plum);
  font-size: 1rem;
}
.post-content .post-title:hover h3 {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/* 
================
Post description 
================
*/

.post_description p {
  color: var(--clr-black);
  line-height: 1.5rem;
  font-size: 0.9rem;
}

/* 
=========
View more 
=========
*/

.view_more {
  margin-top: 1rem;
}

.view_more a {
  padding: 0.7rem 2rem;
  background-color: var(--clr-Mauve-Mist);
  color: var(--clr-white);
  font-weight: 700;
}

.view_more a:hover {
  background-color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/* 
===================
End of Post Content 
===================
*/

/* 
================
End of Post area 
================
*/

/*
===============
RESPONSIVE CODES
===============
*/

/* 950px */

@media screen and (max-width: 950px) {
  /* Post area */
  .single_post {
    gap: 1rem;
  }

  .post-content .post-image img {
    height: 15rem;
  }
  .post_categories a,
  .single_post p {
    font-size: 0.8rem;
  }
  .single_post .fa-regular {
    font-size: 1rem;
  }
}

/* 900px */
@media screen and (max-width: 900px) {
  .view_more a {
    padding: 0.6rem 1.5rem;
    font-size: 0.8rem;
  }
}

/* 850px */
@media screen and (max-width: 850px) {
  /* Main content */
  .main_content {
    display: flex;
    flex-direction: column;
  }

  /* Post content */
  .post-content .post-image img {
    height: 15rem;
  }
}

/* 700px */
@media screen and (max-width: 700px) {
  /* Main content */
  .main_content {
    padding: 2rem 4rem;
  }

  /* Blog title */
  .blog_title {
    font-size: 1.2em;
  }

  .single_post p {
    color: var(--clr-Deep-Plum);
    font-size: 0.8rem;
  }

  .single_post .fa-regular {
    font-size: 1rem;
  }

  /* Post content */
  .post-content .post-image img {
    height: 13rem;
  }
  .view_more a {
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 0.8rem;
  }
}

/* 600px */
@media screen and (max-width: 600px) {
  .blog_title {
    font-size: 1em;
  }

  /* Main content */
  .main_content {
    padding: 2rem;
  }

  /* Post area */
  .single_post {
    gap: 2rem;
  }
}
/* 500px */

@media screen and (max-width: 500px) {
  .single_post {
    flex-direction: column;
    border-bottom: 1px solid var(--clr-gray);
    padding-bottom: 4rem;
    margin-bottom: 1rem;
  }
}

/* 400px */
@media screen and (max-width: 400px) {
  .blog_title {
    font-size: 0.8rem;
  }

  /* Post area */
  .post-content .post-image img {
    height: 10rem;
  }
  .post-content .post-title h3 {
    color: var(--clr-Deep-Plum);
    font-size: 0.8rem;
  }
}
