/* 992px */
@media screen and (max-width: 992px) {
  /* Category */
  .category .categories {
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 3rem;
  }

  /* Best sells */
  .best_sells {
    margin-top: 3rem;
  }
  .best_sells .best_sells_items {
    grid-template-columns: repeat(5, auto);
    gap: 2.5rem;
  }

  /* Popular authors */
  .popular_authors .authors {
    gap: 3rem;
  }
}

/* 900px */
@media screen and (max-width: 900px) {
  /* Category */
  .category .categories {
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
  }

  /* Best sells items */
  .best_sells .best_sells_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
  }

  /* Popular authors */
  .popular_authors .authors {
    gap: 2rem;
  }
  .popular_authors .authors a .p_author img {
    width: 5rem;
    height: 5rem;
  }
}

/* 800px */
@media screen and (max-width: 800px) {
  /* Slider */
  .slider {
    position: relative;
    height: 20rem;
  }
  #slider_search_box {
    display: block;
  }
  .search_box form button {
    right: 14.1rem;
  }
  .slider .shop_now {
    display: none;
  }

  /* Category */
  .category .categories {
    gap: 2rem;
  }

  /* Best sells */
  .best_sells .best_sells_items {
    gap: 1.5rem;
  }

  /* Popular authors */
  .popular_authors .authors {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  /* Category */
  .category .category_item {
    padding-bottom: 0.5rem;
  }
  .category .category_title {
    font-size: 1.7rem;
    padding-bottom: 0.8rem;
    border-bottom: 3px solid var(--clr-Dusty-Pink);
  }
  .category .category_item img {
    width: 6rem;
    height: 8rem;
  }
  .category .category_item p {
    font-size: 0.8rem;
  }

  /* Best sells */
  .best_sells .best_sells_items {
    gap: 0.5rem;
  }
  .best_sells .best_sells_title {
    font-size: 1.7rem;
    padding-bottom: 0.8rem;
  }
  .best_sells .best_sells_items .best_sell_item img {
    width: 6rem;
    height: 8rem;
  }
  .best_sells .best_sells_items .best_sell_item .descriptions {
    font-size: 0.8rem;
  }
  /* Daily qoute */
  .daily_quote {
    margin: 2rem 0;
    height: 10rem;
  }
  .daily_quote .quote_title {
    font-size: 1rem;
  }
  .daily_quote .quote_author {
    font-size: 0.9rem;
  }

  /* Popular authors */
  .popular_authors .popular_authors_title {
    font-size: 1.2rem;
    border-bottom: 2px solid var(--clr-Dusty-Pink);
    padding-bottom: 0.5rem;
  }
  .popular_authors .authors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
  }
  .popular_authors a .p_author {
    gap: 0.5rem;
  }
  .popular_authors .authors a .p_author .author_name {
    font-size: 0.8rem;
  }
  .popular_authors .authors a .p_author .author_book {
    font-size: 0.7rem;
  }
}

/* 700px */
@media screen and (max-width: 700px) {
  /* Slider */
  .search_box form button {
    right: 12rem;
  }

  /* Category */
  .category .categories {
    gap: 3rem;
  }

  /* Best sells */
  .best_sells .best_sells_items {
    gap: 2rem;
  }

  /* Popular authors */
  .popular_authors .authors {
    column-gap: 4rem;
  }
}

/* 650px */
@media screen and (max-width: 650px) {
  /* Category */
  .category .categories {
    justify-content: space-between;
  }

  /* Best sells */
  .best_sells {
    margin-top: 4rem;
  }
  .best_sells .best_sells_items {
    justify-content: space-between;
  }

  /* Daily quote */
  .daily_quote {
    background-position: top;
  }
}

/* 576px */
@media screen and (max-width: 576px) {
  /* slider */
  .slider {
    position: relative;
    height: 15rem;
  }

  /* Category */
  .category .category_title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .category .category_item img {
    width: 6rem;
    height: 6rem;
  }

  /* Best sells */
  .best_sells .best_sells_title {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .best_sells .best_sells_items {
    gap: 0;
  }
  .best_sells .best_sells_items a {
    margin-bottom: 2rem;
  }

  /* Daily quote */
  .daily_quote .quote_title {
    font-size: 0.9rem;
  }
}

/* 500px */
@media screen and (max-width: 500px) {
  /* Category */
  .category .category_item img {
    width: 7rem;
    height: 7rem;
  }

  /* Best sells */
  .best_sells .best_sells_items {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 1rem 4rem;
  }

  /* Daily quote */
  .daily_quote .quote_title {
    font-size: 0.8rem;
  }
}

/* 450px */
@media screen and (max-width: 450px) {
  /* Best sells */
  .best_sells .best_sells_items .best_sell_item .descriptions .author {
    font-size: 0.9rem;
  }

  /* Daily quote */
  .daily_quote {
    margin-bottom: 1rem;
  }
  .daily_quote .quote_title {
    font-size: 0.7rem;
  }
  .daily_quote .quote_author {
    font-size: 0.7rem;
  }

  /* Popular authors */
  .popular_authors .authors a .p_author img {
    width: 4rem;
    height: 4rem;
  }
  .popular_authors .authors {
    column-gap: 3.5rem;
  }
}

/* 400px */
@media screen and (max-width: 400px) {
  /* Category */
  .category .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .category .category_item img {
    width: 6rem;
  }

  /* Daily quote */
  .daily_quote .quote_title {
    font-size: 0.6rem;
  }
}
