/* 800px */
@media screen and (max-width: 800px) {
  .login_container {
    width: 60%;
  }

  /* Logo */
  .login_container .logo {
    gap: 1rem;
  }

  /* Logo image */
  .login_container .logo img {
    width: 3rem;
    height: 3rem;
  }

  /* Logo title */
  .login_container .logo .logo_title {
    font-size: 2.3rem;
  }

  /* End of logo */

  /* Main title */
  .login_container .main_title {
    font-size: 1.3rem;
  }

  /* Login form */
  .login_form .form_inputs {
    padding: 0.8rem 1rem;
  }
  .form_icons {
    font-size: 1.3rem;
  }
}

/* 700px */
@media screen and (max-width: 700px) {
  /* Logo title */
  .login_container .logo .logo_title {
    font-size: 2.1rem;
  }

  /* Logo image */
  .login_container .logo img {
    width: 2.8rem;
    height: 2.8rem;
  }

  /* Main title */
  .login_container .main_title {
    font-size: 1.2rem;
  }

  /* Login form */
  .login_container .login_form {
    margin-top: 2rem;
  }
  .login_form .form_inputs {
    padding: 0.7rem 1rem;
  }
  .login_form .form_inputs::placeholder {
    font-size: 0.8rem;
  }
}
