/* Body */
body {
  background-color: var(--clr-Cream-White);
}
/* Login container */
.login_container {
  width: 50%;
  margin: 3rem auto;
  padding: 1rem 2rem;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shodow);
}
/* End of Login container */

/* Logo */
.login_container .logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Logo image */
.login_container .logo img {
  width: 6rem;
  height: 6rem;
}

/* Logo title */
.login_container .logo .logo_title {
  font-size: 3.5rem;
  color: var(--clr-Deep-Plum);
}
/* End of Logo */

/* Main title */
.login_container .main_title {
  margin-top: 3rem;
  color: var(--clr-Dusty-Pink);
}
/* End of Main title */

/* Login form */
.login_container .login_form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 80%;
}
/* Form inputs */
.login_form .form_inputs{
  width: 100%;
  padding: 1rem 1rem 1rem;
  outline: none;
  border: 1px solid var(--clr-Mauve-Mist);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* :Focus */
.login_form .form_inputs:focus{
  background-color: var(--clr-Cream-White);
}
/* :Hover */
.login_form .form_inputs:hover{
  background-color: var(--clr-Cream-White);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* ::Placeholder */
.login_form .form_inputs::placeholder{
  color: var(--clr-Deep-Plum);
  font-size: 1rem;
}

/* Form icons */
.form_icons{
  color: var(--clr-black);
  font-size: 1.5rem;
}
/* End of Login form */
