{% extends 'base.html' %}

{% load static %}

{% load blog_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/blog_single.css' %}">
{% endblock %}

{% block title %} single {% endblock %}


{% block content %}

<!-- Main content -->
<main class="main_content d-flex">

    <!-- Post Area -->
    <section class="single_post_area d-flex column-flex align-items-center">

        <!-- Post Photo -->
        <img src="{{post.image.url}}" alt="post-photo" class="post_pic">

        <!-- Post Content -->
        <div class="post-content d-flex">

            <!-- Post Info -->
            {% include 'blog/blog_post_info.html' %}

            <!-- Post detail -->
            <div class="post_details d-flex column-flex">

                <!-- Post title -->
                <h1 class="main-title">{{post.title}}</h1>

                <!-- Post description -->
                <div class="post_description d-flex">
                    {{post.content|safe}}
                </div>
            </div>

        </div>

        <!-- The comments of post -->
        <section class="post-comments d-flex column-flex">
            
            <!-- Comment count -->
            <h2 class="comment-count">Comments</h2>

            <!-- Comment box -->
            <div class="comment-box d-flex justify-content-space-between align-items-center">
                <div class="left-side d-flex">
                    <!-- User pic -->
                    <img src="{% static 'images/user.png' %}" alt="user-pic" class="user-pic">

                    <!-- Comment details -->
                    <div class="comment-details d-flex column-flex">
                        <h4>User name</h4>
                        <p>Description</p>
                    </div>
                </div>
                <div class="published_date">
                    <p>Time 2026/256</p>
                </div>
            </div>

        </section>
        <!--End of The comments of post -->


    </section>

    <!-- Widget Bar -->

    <div class="widget-bar d-flex column-flex align-items-center">

        {% include 'blog/search.html' %}

        {% include 'blog/blog_writer.html' %}

        {% latest_posts %}

        {% include 'blog/tags.html' %}

        {% post_categories %}
    </div>
    <!-- End of Widget Bar -->

    <!-- Comments -->
    <section class="comments d-flex column-flex">
        <!-- Comment form -->
        <h3 class="comment_title">Leave a comment</h3>

        <form action="#" method="post" class="comments_form">
            <input type="text" name="name" required placeholder="Enter Name" class="comment_inputs" id="name">
            <input type="text" name="subject" placeholder="Enter Subject" class="comment_inputs" id="subject">
            <input type="email" name="email" required placeholder="Enter Email" class="comment_inputs" id="email">
            <textarea name="message" placeholder="Message" rows="5" id="message"></textarea>

            <button type="submit" name="send_comment" id="send">Post comment</button>
        </form>
    </section>
    <!-- End of Comments -->
</main>

<!-- End of Main Content -->

{% endblock %}