{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/blog_home.css' %}">
{% endblock %}

{% block title %} Blog {% endblock %}

{% block content %}

<!-- Blog Title  -->
<div class="blog_title">
    <h1>Blog</h1>
</div>
<!-- End of Blog Title -->

<!-- Main Content -->
<main class="main_content d-flex">

    <!-- Posts Area -->
    <section class="posts_area d-flex column-flex align-items-center">
        {% for post in posts %}
        <!-- Single Post -->
        <article class="single_post d-flex">

            <!-- Post Info -->
            <div class="post_info d-flex column-flex justify-content-center">
                <!-- Post Categories  -->
                <div class="post_categories d-flex column-flex flex-end">
                    {% for cat in post.category.all %}
                    <a href="#">
                        {{cat.name}}
                    </a>
                    {% endfor %}
                </div>

                <!-- Post Author -->
                <a href="#" class="post_author d-flex flex-end post-info-item">
                    <p>{{post.author.username.title}}</p>
                    <i class="fa-regular fa-user"></i>
                </a>

                <!-- Post Published date -->
                <div class="post_published_date d-flex align-items-center flex-end post-info-item">
                    <p>{{post.published_date|date:' M / d'}}</p>
                    <i class="fa-regular fa-calendar-days"></i>
                </div>

                <!-- Counted Views -->
                <div class="post_views d-flex flex-end post-info-item">
                    <p>{{post.counted_views}} Views</p>
                    <i class="fa-regular fa-eye"></i>
                </div>

            </div>
            <!-- End of Post Info -->

            <!-- Post Content -->
            <div class="post-content d-flex column-flex">

                <!-- Post image   -->
                <div class="post-image">
                    <img src="{{post.image.url}}" alt="Django-book">
                </div>

                <!-- Post Title -->
                <div class="post-title">
                    <a href="#">
                        <h3>
                            {{post.title}}
                        </h3>
                    </a>
                </div>

                <!-- Post description -->
                <div class="post_description">
                    <p>
                        {{post.content|truncatechars:100}}
                    </p>
                </div>

                <!-- View More button -->
                <div class="view_more">
                    <a href="#">View More</a>
                </div>
            </div>
            <!-- End of Post Content -->

        </article>

        <!-- End of Single Post -->
        {% endfor %}
    </section>
    <!-- End of Post Area -->

    <!-- Widget Bar --> 

    <div class="widget-bar d-flex column-flex align-items-center">

        {% include 'blog/blog_writer.html' %}

        {% include 'blog/latestposts.html' %}

        {% include 'blog/post-categories.html' %}
    </div>
    <!-- End of Widget Bar -->
</main>

<!-- End of Main Content -->

{% endblock %}