{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/blog_home.css' %}">
{% endblock %}

{% block title %} Blog {% endblock %}

{% block content %}

<!-- Blog Title  -->
<div class="blog_title">
    <h1>Blog</h1>
</div>
<!-- End of Blog Title -->

<!-- Main Content -->
<main class="main_content d-flex">

    <!-- Container -->
    <div class="container">

        <!-- Posts Area -->
        <section class="posts_area d-flex column-flex">

            <!-- Single Post -->
            <article class="single_post d-flex">

                <!-- Post Info -->
                <div class="post_info d-flex column-flex">
                    <!-- Post Categories  -->
                    <a href="#" class="post_categories d-flex align-items-center flex-end">
                        <p>Horror &nbsp;</p>
                        <p>Romantic</p>
                    </a>

                    <!-- Post Author -->
                    <a href="#" class="post_author d-flex align-items-center flex-end post-info-item">
                        <p>Fatemeh</p>
                        <i class="fa-regular fa-user"></i>
                    </a>

                    <!-- Post Published date -->
                    <div class="post_published_date d-flex align-items-center flex-end post-info-item">
                        <p>12 Dec,2025</p>
                        <i class="fa-regular fa-calendar-days"></i>
                    </div>

                    <!-- Counted Views -->
                    <div class="post_views d-flex align-items-center flex-end post-info-item">
                        <p>0 Views</p>
                        <i class="fa-regular fa-eye"></i>
                    </div>

                </div>
                <!-- End of Post Info -->

            </article>
            <!-- End of Single Post -->

        </section>
        <!-- End of Post Area -->

        <!-- Widget Bar -->
        <!-- End of Widget Bar -->
    </div>
</main>

<!-- End of Main Content -->

{% endblock %}