{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/blog_home.css' %}">
{% endblock %}

{% block title %} Blog {% endblock %}

{% block content %}

<!-- Blog Title  -->
<div class="blog_title">
    <h1>Blog</h1>
</div>
<!-- End of Blog Title -->

<!-- Main Content -->
<main class="main_content d-flex">

    <!-- Posts Area -->
    <section class="posts_area d-flex column-flex">
        {% for post in posts %}
        <!-- Single Post -->
        <article class="single_post d-flex">

            <!-- Post Info -->
            <div class="post_info d-flex column-flex justify-content-center">
                <!-- Post Categories  -->
                <div class="post_categories">
                    {% for cat in post.category.all %}
                    <a href="#">
                        {{cat.name}}{% if not forloop.last %} , {% endif %}
                    </a>
                    {% endfor %}
                </div>

                <!-- Post Author -->
                <a href="#" class="post_author d-flex flex-end post-info-item">
                    <p>{{post.author.username.title}}</p>
                    <i class="fa-regular fa-user"></i>
                </a>

                <!-- Post Published date -->
                <div class="post_published_date d-flex align-items-center flex-end post-info-item">
                    <p>{{post.published_date|date:'Y / M / d'}}</p>
                    <i class="fa-regular fa-calendar-days"></i>
                </div>

                <!-- Counted Views -->
                <div class="post_views d-flex flex-end post-info-item">
                    <p>{{post.counted_views}} Views</p>
                    <i class="fa-regular fa-eye"></i>
                </div>

            </div>
            <!-- End of Post Info -->

            <!-- Post Content -->
            <div class="post-content d-flex column-flex">

                <!-- Post image   -->
                <div class="post-image">
                    <img src="{{post.image.url}}" alt="Django-book">
                </div>

                <!-- Post Title -->
                <div class="post-title">
                    <a href="#">
                        <h3>
                            {{post.title}}
                        </h3>
                    </a>
                </div>

                <!-- Post description -->
                <div class="post_description">
                    <p>
                        {{post.content|truncatechars:100}}
                    </p>
                </div>

                <!-- View More button -->
                <div class="view_more">
                    <a href="#">View More</a>
                </div>
            </div>
            <!-- End of Post Content -->

        </article>

        <!-- End of Single Post -->
        {% endfor %}
    </section>
    <!-- End of Post Area -->

    <!-- Widget Bar -->

    <!-- Blog writer -->
    <div class="widget-bar d-flex column-flex align-items-center">
        <section class="blog-writer d-flex column-flex align-items-center">
            <img src="{% static 'images/writer.jpg' %}" alt="writer-photo" class="writer-img">
            <h3 class="writer-name">Fatemeh</h3>
            <p class="writer-title">Blog writer</p>
            <div class="socials d-flex justify-content-center">
                <a href="#"><i class="fa-brands fa-telegram"></i></a>
                <a href="#"><i class="fa-solid fa-x"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <p class="about-writer">
                Written by Fatemeh, a curious mind who enjoys turning ideas into words. She writes with clarity,
                intention, and a genuine interest in sharing what she learns along the way.
            </p>
        </section>
        <!-- End of Blog writer -->

        <!-- Latest posts -->
        <section class="latest-posts d-flex column-flex">
            <h4 class="widget-bar-title">Latest posts</h4>
            <!-- Latest posts items -->
            <div class="latest-p d-flex column-flex">
                {% for post in posts %}
                <div class="single-latest-post d-flex">
                    <img src="{{post.image.url}}" alt="post-photo" class="post-photo">
                    <div class="post-details d-flex column-flex justify-content-center">
                        <p>{{post.title|truncatechars:15}}</p>
                        <p>{{post.published_date|date:"d M"}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- End of Latest posts -->
    </div>
    <!-- End of Widget Bar -->
</main>

<!-- End of Main Content -->

{% endblock %}