{% load static %}
<!-- Latest posts -->
<section class="latest-posts d-flex column-flex">
    <h4 class="widget-bar-title">Latest posts</h4>
    <!-- Latest posts items -->
    <div class="latest-p d-flex column-flex">
        {% for post in posts %}
        <div class="single-latest-post d-flex">
            <img src="{{post.image.url}}" alt="post-photo" class="post-photo">
            <div class="post-details d-flex column-flex justify-content-center">
                <p><a href="{% url 'blog:single' pid=post.id %}">{{post.title|truncatechars:20}}</a></p>
                <p>{{post.published_date|date:"d M"}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- End of Latest posts -->