{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock %}

{% block title %} About us {% endblock %}

{% block content %}
<!-- Main Section -->
<section class="main_section">
    <div class="container">
        <img src="{% static 'images/about.png' %}" alt="book">
        <!-- About texts -->
        <div class="about_texts">
            <h1>About us</h1>
            <p>
                A place for book lovers, built as a learning project.
            </p>
        </div>
    </div>
</section>
<!-- End of Main Section -->
{% endblock %}