{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="fatemeh-code-official">
    <meta name="subject" content="book shop">
    <meta name="keywords" content="book,book shop,bookshop,booksin">
    <meta name="description" content="Booksin online book shop">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'styles/basics.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    {% block extra_css %}
    {% endblock %}
    <title>{% block title %} {% endblock %}</title>

</head>

<body id="home">
    <!-- container -->
    <div class="container">
        <!-- Header -->
        <header class="header">
            <!-- Top header -->
            <div class="top_header d-flex justify-content-space-between">
                <!-- Logo -->
                <div class="logo d-flex align-items-center">
                    <img src="{% static 'images/logo.png' %}" alt="Booksin-logo">
                    <h1>Booksin</h1>
                </div>
                <!-- Search_box -->
                <div class="search_box">
                    <form action="{% url 'blog:search' %}" method="get" class="d-flex position-relative">
                        <input type="text" name="s" placeholder="Search...">
                        <button class="position-absolute">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <!-- Top Header icons -->
                <div class="top_header_icons d-flex align-items-center">
                    <a href="{% url 'accounts:login' %}"><i class="fa-regular fa-user"></i></a>
                    <a href="#"><i class="fa-regular fa-heart"></i></a>
                    <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                </div>
            </div>
            <!-- End of Top header -->
            <!-- Navigation -->
            <div class="navigation">
                <nav>
                    <ul class="navigation_bar d-flex align-items-center">
                        <li>
                            <a href="{% url 'core:home' %}#category"><i class="fa-solid fa-table-list"></i> Category</a>
                        </li>
                        <li>
                            <a href="{% url 'core:home' %}"><i class="fa-regular fa-house"></i> Home</a>
                        </li>
                        <li>
                            <a href="{% url 'blog:home' %}"><i class="fa-regular fa-newspaper"></i> Blog</a>
                        </li>
                        <li>
                            <a href="{% url 'core:about' %}"><i class="fa-solid fa-info"></i> About us</a>
                        </li>
                        <li>
                            <a href="{% url 'core:contact' %}"><i class="fa-solid fa-phone"></i> Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End of Navigation -->
        </header>
        <!-- End of Header -->

        <!-- Responsive Navigation -->
        <nav>
            <ul class="navigation_bar_res position-fixed display-none">
                <li>
                    <a href="{% url 'core:home' %}" class="d-flex column-flex align-items-center"><i class="fa-regular fa-house"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'accounts:login' %}"><i class="fa-regular fa-user"></i>
                        <p>Log in</p>
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-basket-shopping"></i>
                        <p>Cart</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'blog:home' %}"><i class="fa-regular fa-newspaper"></i>
                        <p>Blog</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End of Responsive Navigation -->
    </div>
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="footer d-flex">
        <div class="container justify-content-space-between align-items-first-baseline">
            <!-- Quick access -->
            <section class="quick_access footer_items footer_items_hover d-flex column-flex">
                <h6 class="footer_section_titles">Quick access</h6>
                <a href="{% url 'core:home' %}">Home</a>
                <a href="{% url 'core:home' %}#category">Category</a>
                <a href="{% url 'core:home' %}#best_sells">Best Sells</a>
                <a href="{% url 'core:home' %}#popular_authors">Popular Authors</a>
            </section>

            <!-- Social media -->
            <section class="social_medias footer_items d-flex column-flex">
                <h6 class="footer_section_titles">Social Medias</h6>
                <a href="#" class="align-items-center d-flex"><i class="fa-brands fa-telegram"></i> Telegram</a>
                <a href="#" class="align-items-center d-flex"><i class="fa-solid fa-x"></i> X</a>
                <a href="#" class="align-items-center d-flex"><i class="fa-brands fa-instagram"></i> Instagram</a>
                <a href="#" class="align-items-center d-flex"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
            </section>

            <!-- Legal -->
            <section class="footer d-flex legal footer_items_hover column-flex">
                <h6 class="footer_section_titles">Legal</h6>
                <a href="#">Terms and Conditions</a>
                <a href="#">Privacy Policy</a>
            </section>

            <!-- Help -->
            <section class="footer_items help footer_items_hover display-none">
                <h6 class="footer_section_titles">Help</h6>
                <a href="{% url 'core:about' %}">About us</a>
                <a href="{% url 'core:contact' %}">Contact us</a>
                <a href="#">FAQ</a>
            </section>

        </div>
    </footer>
    <!-- End of Footer -->
</body>

</html>