{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/contact.css' %}">
{% endblock %}

{% block title %} Contact Us{% endblock %}

{% block content %}

<!-- Contact -->
<div class="contact">
    <div class="container">

        <!-- Contact Intro -->
        <section class="contact_intro d-flex column-flex align-items-center">
            <h1 class="main_title">Contact Us</h1>
            <p class="description">We value your opinion</p>
        </section>
        <!-- End of Contact Intro -->

        <!-- Contact section -->
        <div class="contact_section d-flex justify-content-space-between">

            <!-- Contact Info -->
            <section class="contact_info d-flex column-flex">

                <!-- Contact info item -->
                <div class="contact_info_item d-flex">
                    <i class="fa-regular fa-house"></i>
                    <div class="info">
                        <address>New York</address>
                        <address>Deggan Lake</address>
                    </div>
                </div>

                <!-- Contact info item -->
                <div class="contact_info_item d-flex">
                    <i class="fa-solid fa-phone"></i>
                    <div class="info">
                        <address><a href="tel:0098216542365">098216542365</a></address>
                        <address>Mon to Fri 9am to 6pm</address>
                    </div>
                </div>

                <!-- Contact info item -->
                <div class="contact_info_item d-flex">
                    <i class="fa-regular fa-envelope"></i>
                    <div class="info">
                        <address><a href="mailto:example@gmail.com">example@gmail.com</a></address>
                        <address>Send us your query anytime!</address>
                    </div>
                </div>
            </section>

            <!-- Contact form -->
            <form action="{% url 'core:contact' %}" class="contact_form d-flex" id="contact_form" method="post">

                {% csrf_token %}
                <div class="text_boxes d-flex column-flex">
                    <input type="text" placeholder="Enter your name " name="name">
                    <input type="text" placeholder="Enter the subject" name="subject">
                    <input type="email" placeholder="Enter your email" required name="email">
                </div>
                <textarea placeholder="Write your opinion and then fill the Captcha below" name="message"></textarea>
            </form>
            <!-- End of Contact form -->

        </div>
        <!-- End Contact Info -->

        <!-- Form submitt -->
        <div class="d-flex column-flex">

            <!-- Captcha -->
            <div class="captcha d-flex column-flex">
                {{form.captcha}}
            </div>

            <!-- Submit button -->
            <input type="submit" value="SEND MESSAGE" form="contact_form" class="contact_button">
        </div>


        <!-- Messages -->

        {% if messages %}
        <ul class="messages d-flex column-flex align-items-center">

            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}

        </ul>
        {% endif %}

    </div>
    <!-- End of Contact -->
</div>

{% endblock %}