{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/contact.css' %}">
{% endblock %}

{% block title %} Contact Us{% endblock %}

{% block content %}

<!-- Contact -->
<div class="contact">
    <div class="container">

        <!-- Contact Intro -->
        <section class="contact_intro">
            <h1 class="main_title">Contact Us</h1>
            <p class="description">We value your opinion</p>
        </section>
        <!-- End of Contact Intro -->

        <!-- Contact section -->
        <div class="contact_section">
            <!-- Contact Info -->
            <section class="contact_info">
                <!-- Contact info item -->
                <div class="contact_info_item">
                    <i class="fa-regular fa-house"></i>
                    <div class="info">
                        <address>New York</address>
                        <address>Deggan Lake road 125</address>
                    </div>
                </div>
                <!-- Contact info item -->
                <div class="contact_info_item">
                    <i class="fa-solid fa-phone"></i>
                    <div class="info">
                        <address><a href="tel:0098216542365">098216542365</a></address>
                        <address>Mon to Fri 9am to 6pm</address>
                    </div>
                </div>
                <!-- Contact info item -->
                <div class="contact_info_item">
                    <i class="fa-regular fa-envelope"></i>
                    <div class="info">
                        <address><a href="mailto:example@gmail.com">example@gmail.com</a></address>
                        <address>Send us your query anytime!</address>
                    </div>
                </div>
            </section>

            <!-- Contact form -->
            <form action="#" class="contact_form" id="contact_form" method="post">
                <div class="text_boxes">
                    <input type="text" placeholder="Enter your name " name="username">
                    <input type="text" placeholder="Enter the subject" name="subject">
                    <input type="email" placeholder="Enter your email" required>
                </div>
                <textarea name="contact_content" placeholder="Write your opinion"></textarea>
            </form>
            <!-- End of Contact form -->
        </div>
        <!-- End Contact Info -->
         
    </div>
</div>
<!-- End of Contact -->

{% endblock %}