{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}


<!-- Slider -->
<div class="slider d-flex justify-content-center align-items-center">
    <button class="shop_now">
        <b>Shop Now</b>
        <i class="fa-solid fa-chevron-right"></i>
    </button>

    <!-- Search_box -->
    <div class="search_box display-none position-relative" id="slider_search_box">
        <form action="#" method="post">
            <input type="text" name="inpt_serchbox" placeholder="Search...">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
</div>
<!-- End of Slider -->


<div class="container">

    <!-- Category -->
    <section class="category d-flex column-flex align-items-center" id="category">
        <h2 class="category_title">Category</h2>
        <div class="categories d-flex justify-content-space-between">

            {% for category in categories %}

            <!-- Category item -->
            <div class="category_item">
                <a href="#" class="d-flex column-flex align-items-center">
                    <img src="{{category.image.url}}" alt="category">
                    <p>{{category.name}}</p>
                </a>
            </div>

            {% endfor %}

        </div>
    </section>
    <!--End of Category -->

    <!-- Best sells -->
    <div class="best_sells" id="best_sells">
        <section>

            <!-- Best sell title -->
            <h3 class="best_sells_title">
                Best sells
            </h3>

            <!-- Best sells items -->
            <div class="best_sells_items justify-content-center">

                {% for book in books %}

                <!-- Best sells item -->
                <a href="#">
                    <div class="best_sell_item d-flex column-flex justify-content-center align-items-center">
                        <div class="pic">
                            <img src="{{book.image.url}}" alt="It ends with us">
                        </div>
                        <div class="descriptions d-flex column-flex align-items-center">
                            <p class="author"><b>{{book.author}}</b></p>
                            <p class="book_name">{{book.name}}</p>
                        </div>
                    </div>
                </a>

                {% endfor %}

            </div>
        </section>
    </div>
    <!-- End of Best sells -->

</div>

<!-- Daily quote -->
<div class="daily_quote d-flex column-flex justify-content-center">
    <h4 class="quote_title">
        "I do believe something very magical can happen when you read a book"
    </h4>
    <p class="quote_author">
        J.K. Rowling
    </p>
</div>
<!-- End Daily quote -->

<div class="container">

    <!-- Popular authors -->
    <div class="popular_authors d-flex column-flex align-items-center">
        <h5 class="popular_authors_title">
            Popular Authors
        </h5>
        <!-- Authors group -->
        <div class="authors d-flex" id="popular_authors">

            {% for author in authors %}
            {% if author.image.name != 'authors/default.png' %}

            <a href="#">
                <div class="p_author d-flex column-flex align-items-center">
                    <img src="{{ author.image.url }}" alt="author">
                    <p class="author_name">{{ author.name }}</p>
                    <p class="author_book">{{ author.book_count }}</p>
                </div>
            </a>
            {% endif %}
            {% endfor %}

        </div>
    </div>
    <!-- End of Popular authors -->

</div>
{% endblock %}